
.white {
	background: #fff;
}
.black_333 {
	background: #333;
}
.black_34 {
	background: #343434;
}
.black_222 {
	background: #222;
}
.black_061 {
	background: #06131c;
}
.black_041 {
	background: #04121c;
}
.black_011 {
	background: #01101b;
}
.black_0d1 {
	background: #0d1b26;
}
.gray_eee {
	background: #eee;
}
.gray_83 {
	background: #838383;
}
.gray_84 {
	background: #848484;
}
.blue {
	background: #006cb7;
}