.mission_wrap {
	width: 100%;
	min-height: 720px;
	margin-top: 180px;
}
.mission, .vission {
	width: 100%;
	height: 360px;
}
.mission_image, .vission_image {
	width: 50%;
	height: 360px;
	margin-top: -60px;
	background: #848484;
}  
.mission_image {
	float: left;
	margin-right: 15px;
}
.vission_image {
	float: right;
	margin-left: 43px;
}
.title_left {
	margin-bottom: 40px;
}
.mission_text, .vission_text {
	line-height: 28px;
	color: #9b9b9b;
}

/* Продумать адаптацию */