.our_partners {
	width: 100%;
	height: auto;
	margin: 120px auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.partner {
	width: 260px;
	height: 145px;
	border: 1px solid #dddddd;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.partner:hover {
	border-bottom: 2px solid #006cb7;
}

@media (max-width: 1170px) {
	.our_partners {
		justify-content: center;
	}
	.partner {
		margin: 15px;
	}
}