

.page_wrap {
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;
	font-family: 'Lato-Regular';
	font-weight: normal;
    font-style: normal;
	font-size: 14px;
}
.conteiner {
	width: 1170px;
	box-sizing: border-box;
	padding: 0 15px;
	margin: 0 auto;
}

/* HERO AREA */
	/* Header */
		/* header top */
/*
.header_top {
	width: 100%;
	position: relative;
	padding: 7px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	background:linear-gradient(225deg, #fff 26px, #333 0);
}
.header_top_color {
	position: absolute;
	width: 100%;   
	min-height: 80px;
	left: 100%;
	top: 0;
	z-index: 10;
	background-color: #fff;
}
.header_info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.header_info .name a {
	font-family: 'Lato-Semibold';
	font-size: 12px;
	font-weight: 600;
    font-style: normal;
    line-height: 24px;
	color: #fff;
	text-decoration: none;
}
.header_info .name:hover a {
	text-decoration: underline;
}
.header_info .name2, 
.header_info .name3 {
	list-style-type: disc;
	color: #fff;
	margin-left: 20px;
}
.header_time {
	font-family: 'Lato-Light';
	font-size: 12px;
	font-weight: 300;
    font-style: normal;
    line-height: 24px;
	color: #fff;
	padding-left: 15px;
	background: url("../img/icon/clock.png") no-repeat;
	background-position: left center;
}
.header_social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin: 0 30px;
}
.header_icon {
	height: 13px;
	margin: 0 5px;
	overflow: hidden;
}
.head_fb {
	width: 6px;
}
.head_fb:hover img {
	margin-left: -6px;
}
.head_pint {
	width: 9px;
}
.head_pint:hover img {
	margin-left: -9px;
}
.head_google {
	width: 16px;
}
.head_google:hover img {
	margin-left: -16px;
}
.head_dr {
	width: 11px;
}
.head_dr:hover img {
	margin-left: -11px;
}  */

		/* header middle */
/*
.header_middle {
	width: 100%;
	margin: 25px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.middle_contact_info {
	width: 360px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.middle_call, .middle_email {
	width: 175px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.middle_call_text, .middle_email_text {
	font-size: 12px;
	line-height: 24px;
	color: #7a7a7a;
}
.middle_call_icon, .middle_email_icon {
	position: relative;
	margin-right: 10px;
	width: 36px;
	height: 36px;
	border: 1px solid #7a7a7a;
	border-radius: 50%;
}
.middle_call_icon img, .middle_email_icon img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -9px;
	margin-top: -7.5px;
}  */

		/* menu area */
/*
.menu_area_wrap {
	display: block;
	width: 100%;
	position: absolute;
	z-index: 1;
	
}
.menu_area {
	position: relative;
	width: 100%;
	min-height: 64px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	background:linear-gradient(45deg, transparent  50px, #eee 0);
}  
.menu_area_color {
	position: absolute;
	width: 100%;   
	min-height: 61px;
	left: 100%;
	top: 0;
	z-index: 10;
	background-color: #eee;
	border-bottom: 3px solid #c1c1c1;    
}  
.header_menu_wrap {
	margin: 0 auto;
}
#header_menuCheck, .header_menuToggle {
	display: none;
}
.header_menu_big {
	max-width: 730px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.header_menus {
	background: url(../img/icon/angle-down.png) no-repeat center right;
	margin: 0 10px;
	padding: 20px 10px;
}
.header_menu {
	margin: 0 10px;
	padding: 20px 0;
}
.header_submenu {
	display: none;
	position: absolute;
	background-color: #eeeeee;
	padding: 10px;
	border: 1px solid #006cb7;
	border-radius: 5px;
}
.header_submenu a, .header_menu a, .header_menus, .header_menuToggle {
	text-decoration: none;
	font-family: 'Montserrat-Bold';
	font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #424242;
	line-height: 24px;
}
.header_menus:hover .header_submenu {
	display: block;
	z-index: 10;
}
.header_submenu a:hover {
	border-bottom: 3px solid #006cb7;
	z-index: 10;
}
.header_menu:hover {
	border-bottom: 3px solid #006cb7;
	padding-bottom: 13px;
	z-index: 10;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header_search_wrap {
	width: 190px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
#hed_search {
	display: none;
	width: 145px;
	height: 20px;
}
.search_heder {
	display: block;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background: url(../img/icon/search_header.png) no-repeat center center #006cb7;
}
.header_search_wrap:hover #hed_search {
	display: block;
}
.header_line {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #c1c1c1;
	left: 70px;
	bottom: -7px;
}   */

	/* Slider Area */
/*
.slider_area {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}  
.slides_area {
	width: 200%;
	height: inherit;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.slide_area {
	width: 100%;
	height: inherit;
}
.image_slide_area {
	width: 100%;
	position: relative;
	margin: 0;
}
.slide_area_content {
	display: block;
	position: absolute;
	width: auto;
	height: auto;
	top: 50%;
	margin-top: -86px;
	color: #fff;
}
.slide_area_content1 {
	margin-left: 25px;
}
.slide_area_content2 {
	text-align: right;
	margin-left: 445px;
}
.title_slide_area {
	font-size: 30px;
	line-height: 60px;
	text-transform: uppercase;
}
.text_slide_area {
	font-size: 60px;
	line-height: 60px;
	text-transform: uppercase;
}
.btn-2_wrap {
	margin-top: 40px;
}
#slide_area_controls, #slide_area_active {
	position: absolute;
	width: 100%;
	height: 60px;
	top: 50%;
}
.slide_area_switch {
	display: none;
}  
#slide_area_switch1:checked ~ #slide_area_controls .slide_area_lab2, 
#slide_area_switch2:checked ~ #slide_area_controls .slide_area_lab1 {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 60px;
	background: url(../img/icon/long-arrow-left.png) no-repeat center center #898989;
	float: left;
}
#slide_area_switch1:checked ~ #slide_area_active .slide_area_lab2 {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 60px;
	background: url(../img/icon/long-arrow-left_active.png) no-repeat center center #fff !important;
	float: left;
}  
#slide_area_switch1:checked ~ #slide_area_controls .slide_area_lab2, 
#slide_area_switch2:checked ~ #slide_area_controls .slide_area_lab1 {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 60px;
	background: url(../img/icon/long-arrow-right.png) no-repeat center center #898989;
	float: right;
}
#slide_area_switch2:checked ~ #slide_area_active .slide_area_lab1 {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 60px;
	background: url(../img/icon/long-arrow-right_active.png) no-repeat center center #fff !important;
	float: right;
}  
#slide_area_switch1:checked ~ .slides_area {
	margin-left: 0;
}
#slide_area_switch2:checked ~ .slides_area {
	margin-left: -100%;
}
.slides_area {
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}/*

/* Our Service */
/*
.service_wrap {
	position: relative;
	width: 100%;
	height: 485px;
	margin: 120px 0;
}
.slider_service {
	width: 100%;
	min-height: 370px;
	overflow-x: hidden;
}
.services {
	width: 168%;
	height: 370px;
	margin-top: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.service {
	width: 360px;
	height: 370px;
	margin: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: hidden;
}
.service1 {
	margin-left: 0;
}
.service5 {
	margin-right: 0;
}
.image_service {
	width: 100%;
	height: 210px;
}
.description_service {
	width: 100%;
	height: 159px;
	padding: 40px 18px;
	text-align: left;
	border: 1px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.description_service_title {
	font-family: 'Montserrat-Bold';
	font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #343434;
}
.description_service_text {
	font-family: 'Lato-Regular';
	font-size: 14px;
	color: #9b9b9b;
	margin: 20px 0;
	line-height: 28px;
}
.description_service_link_text {
	display: inline-block;
	font-family: 'Montserrat-Regular';
	font-weight: normal;
    font-style: normal;
    line-height: 24px;
    color: #343434;
    text-transform: uppercase;
    text-decoration: none;
    -ms-text-overflow: clip;
    text-overflow: clip;
}
.service:hover {
	height: 360px;
	-webkit-box-shadow: 0 0 15px #f3f3f3;
	box-shadow: 0 0 15px #f3f3f3;
}
.service:hover .description_service {
	position: relative;
	height: 218px;
	margin-top: -68px;
	z-index: 100;
	background: #fff;
	opacity: 1;
	border: none;
}
.service:hover .description_service_link_text, 
.service:hover .description_service_title {
	color: #006cb7;
}
.slider_service_controls, .slider_service_active {
	width: 60px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 40px;
	
}
.slide_service_switcher {
	display: none;
}
.slider_service_controls {
	background: url(../img/icon/angle-line.png) no-repeat center center;
}  
.slider_service_active {
	background: url(../img/icon/angle-line-blue.png) no-repeat center center;
}  
#slide_service_switcher1:checked ~ .slider_service_controls .slide_servici_lab2, 
#slide_service_switcher2:checked ~ .slider_service_controls .slide_servici_lab3, 
#slide_service_switcher3:checked ~ .slider_service_controls .slide_servici_lab1 {
	background: url(../img/icon/angle-right.png) no-repeat center right;
	position: absolute;
	width: 11px;
	height: inherit;
	display: inline-block;
	right: 0;
}  
#slide_service_switcher1:checked ~ .slider_service_active .slide_servici_lab2, 
#slide_service_switcher2:checked ~ .slider_service_active .slide_servici_lab3 {
	background: url(../img/icon/angle-right-blue.png) no-repeat center right;
	position: absolute;
	width: 11px;
	height: inherit;
	display: inline-block;
	right: 0;
}   
#slide_service_switcher1:checked ~ .slider_service_controls .slide_servici_lab3, 
#slide_service_switcher2:checked ~ .slider_service_controls .slide_servici_lab1, 
#slide_service_switcher3:checked ~ .slider_service_controls .slide_servici_lab2 {
	background: url(../img/icon/angle-left.png) no-repeat center right;
	position: absolute;
	width: 11px;
	height: inherit;
	display: inline-block;
	left: 0;
}  
#slide_service_switcher2:checked ~ .slider_service_active .slide_servici_lab1, 
#slide_service_switcher3:checked ~ .slider_service_active .slide_servici_lab2 {
	background: url(../img/icon/angle-left-blue.png) no-repeat center right;
	position: absolute;
	width: 11px;
	height: inherit;
	display: inline-block;
	left: 0;
}   
#slide_service_switcher1:checked ~ .services {
	margin-left: 0;
}
#slide_service_switcher2:checked ~ .services {
	margin-left: -390px;
}
#slide_service_switcher3:checked ~ .services {
	margin-left: -780px;
}  */

/* Home2 Service */
/*
.home2_services {
	width: 100%;
	height: 255px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.home2_service {
	width: calc(100%/5);
	height: 219px;
	padding: 40px 5px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.home2_service:hover {
	height: 310px;
	margin-top: -55px;
	z-index: 100;
}
.home2_service:hover .home2_service_line {
	display: block;
}
.home2_service_sea, 
.home2_service_air, 
.home2_service_sequrity {
	background: #01bafd;
}
.home2_service_title_sea, 
.home2_service_title_air, 
.home2_service_title_sequrity {
	color: #006cb7;
}
.home2_service_road, 
.home2_service_support {
	background: #006cb7;
}
.home2_service_title_road, 
.home2_service_title_support {
	color: #01bafd;
}
.home2_service_line {
	display: none;   
	width: 40px;
	height: 2px;
	border: none;
	background: #fff;
}
.home2_service_title {
	font-family: 'Montserrat-Regular';
	font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 30px 0 21px;
}
.home2_service_text {
	line-height: 28px;
	color: #ddd;
}  */

/* Home2. Our Mission & vission */
/*
.mission_wrap {
	width: 100%;
	min-height: 720px;
	margin-top: 180px;
}
.mission, .vission {
	width: 100%;
	height: 360px;
}
.mission_image, .vission_image {
	width: 50%;
	height: 360px;
	margin-top: -60px;
	background: #848484;
}  
.mission_image {
	float: left;
	margin-right: 15px;
}
.vission_image {
	float: right;
	margin-left: 43px;
}
.title_left {
	margin-bottom: 40px;
}
.mission_text, .vission_text {
	line-height: 28px;
	color: #9b9b9b;
}  */

/* Home2. Fact */  
/*
.fact_wrap {
	width: 100%;
	min-height: 300px;
} 
.facts {
	width: 100%;display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.fact {
	width: 25%;
	text-align: center;
	padding: 82px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 2px solid transparent;
	border-image: linear-gradient(to top, #01101b 110px, #b1b5b7 160px, #b1b5b7 166px, #01101b 190px);
	-moz-border-image: -moz-linear-gradient(to top, #01101b 110px, #b1b5b7 160px, #b1b5b7 166px, #01101b 190px);
	-moz-border-image: -moz-linear-gradient(to top, #01101b 110px, #b1b5b7 160px, #b1b5b7 166px, #01101b 190px);
	border-image-slice: 1;
}
.fact_text {
	font-family: 'Montserrat-Regular';
	font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 28px;
    color: #eee;
    margin-top: 30px;
}
.fact_name {
	display: block;
	font-family: 'Lato-Regular';
	font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    color: #6f7071;
    margin-top: 20px;
}
.fact_globe {
	border-right: none;
}  */

/*  Why Choose Us */ 
/*
.choose {
	width: 100%;
	min-height: 770px;
	position: relative;
}
.insert_choose {
	position: absolute;
	width: 100%;
	height: 770px;
	right: 1155px;
}
.conteiner_choose {
	position: relative;
}
.choose_content_block {
	display: inline-block;
}
.choose_us {
	display: block;
	width: 715px;
	height: 770px;
}
.choose_content {
	display: block;
	box-sizing: border-box;
	padding: 120px 0;
}
.text_choose {
	display: block;
	width: 555px;
	margin: 35px 0;
	line-height: 28px;
	color: #f1f1f1;
}
.choose_feature2 {
	margin: 35px 0;
}
.icon_choose {
	display: block;
	position: relative;
	width: 60px;
	height: 60px;
	border: 1px solid #006cb7;
	float: left;
	margin-top: 5px;
}
.choose_icon_image {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 50%;
	top: 50%;
	margin-top: -13px;
	margin-left: -13px;
}
.title_feature {
	margin-left: 81px;
	font-family: 'Montserrat-Bold';
	font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #dedede;
    text-transform: uppercase;
}
.line_feature {
	width: 30px;
	height: 1px;
	background: #006cb7;
	border: none;
	display: inline-block;
}
.text_feature {
	display: block;
	margin-left: 81px;
	line-height: 28px;
	color: #b1b0b0;
}
.image_block {
	position: absolute;
	width: 785px;
	height: 700px;
	left: 49%;
	top: 50%;
	transform: translateY(-50%);
}  */

/* About Us */
/*
.about {
	width: 100%;
	min-height: 410px;
	margin: 120px auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.who_we, .faq {
	width: calc(50% - 15px);
	height: inherit;
}
.text_about {
	display: inline-block;
	margin: 24px 0;
	line-height: 28px;
	color: #777;
}
.questions_faq {
	width: 100%;
	height: auto;
	margin-top: 26px;
}
.question_faq {
	width: 100%;
	margin: 15px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.title_question_faq {
	width: 100%;
	min-height: 48px;
	background: url("../img/icon/plus.png") no-repeat 98% center #343434;
	font-family: 'Lato-Bold';
	font-weight: bold;
    font-style: normal;
    color: #FFF;
    padding: 17px 25px;
    line-height: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.question_faq[open] .title_question_faq {
	background: url("../img/icon/minus.png") no-repeat 98% center #006cb7;
}   
.text_question_faq { 
	min-height: 137px;
	padding: 31px 46px 36px 20px;
	background: url(../img/icon/truck.png) no-repeat 95% 90%;
	border: 1px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 28px;
	color: #777;
}   */

/* Latest Blog  */
/*
.latest_blog_wrap { 
	display: block;
	width: 100%;
	min-height: 510px;
	padding: 120px 0;
}
.latest_blogs_content {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.latest_blogs_slider {
	width: 100%;
	min-height: 406px;
	overflow: hidden;
}   
.latest_blogs {
	width: 168%;
	min-height: 407px;
	margin-top: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.latest_blog {
	display: block;
	position: relative;
	width: 360px;
	height: 406px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 15px;
	overflow: hidden;
}   
.latest_blog1 {
	-webkit-order: 1;
	-moz-order: 1;
	-ms-order: 1;
	-o-order: 1;
	order: 1;
	margin-left: 0;
}
.latest_blog2 {
	-webkit-order: 2;
	-moz-order: 2;
	-ms-order: 2;
	-o-order: 2;
	order: 2;
}
.latest_blog3 {
	-webkit-order: 3;
	-moz-order: 3;
	-ms-order: 3;
	-o-order: 3;
	order: 3;
}
.latest_blog4 {
	-webkit-order: 4;
	-moz-order: 4;
	-ms-order: 4;
	-o-order: 4;
	order: 4;
}
.latest_blog5 {
	-webkit-order: 5;
	-moz-order: 5;
	-ms-order: 5;
	-o-order: 5;
	order: 5;
	margin-right: 0;
}
.latest_blog_image {
	width: 100%;   
	height: 210px;
}
.latest_blog_content {
	position: relative;
	width: 100%;
	height: 194px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 20px;
	text-align: left;
	border: 1px solid #fff;
	border-top: none;
}
.latest_blog_parallelogram {
	position: absolute;
	transform: skew(-12deg);
	left: 23px;
	top: -50px;
}
.latest_blog_post_date {
	position: relative;
	width: 60px;
	height: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.latest_blog_date {
	transform: skew(12deg);
}
.latest_blog_date_month {
	font-family: 'Lato-Medium';
	font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: 18px;
    color: #fff;
    text-transform: uppercase;
}
.lbd_line {
	width: 18px;
	height: 1px;
	border: none;
	background: linear-gradient(to right, #006cb7 0%, #ffffff 48%, #ffffff 52%, #006cb7 100%);   
}
.latest_blog_date_nomber {
	font-family: 'Lato-Regular';
	font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: 18px;
    color: #343434;
    text-transform: uppercase;
}
.latest_blog_post_meta {
	display: block;
	width: 100%;
}
.lb_post_meta {
	display: inline-block;
	padding-left: 20px;
	font-family: 'Lato-Light';
	 font-weight: 300;
    font-style: normal;
    line-height: 20px;
	color: #969797;
}
.latest_blog_user {
	background: url(../img/icon/user.png) no-repeat center left;
}
.latest_blog_comments {
	background: url(../img/icon/comment.png) no-repeat center left;
	margin: 0 20px;
}
.latest_blog_wish {
	background: url(../img/icon/heart.png) no-repeat center left;
}
.latest_blog_content_title {
	font-family: 'Montserrat-Regular';
	font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin: 10px 0px;
}
.latest_blog_content_text {
	line-height: 28px;
	color: #969797;
}
.latest_blog_content_link {
	display: block;
	width: 100%;
	margin: 28px 0;
	text-decoration: none;
}
.latest_blog_link_text {
	display: inline-block;
	font-family: 'Montserrat-Regular';
	font-weight: normal;
    font-style: normal;
    line-height: 24px;
    text-transform: uppercase;
    color: #006cb7;
}
.latest_blog_link_image {
	margin: 2px 5px;
}
.latest_blog:hover .latest_blog_content {
	height: 250px;
	margin-top: -55px;
	background: #fff;
}
.latest_blog:hover .latest_blog_content_title {
	color: #006cb7;
}
.latest_blogs_slider_controls, .latest_blogs_slider_active {
	width: 60px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 40px;
	
}
.latest_blog_slide_switcher {
	display: none;
}
.latest_blogs_slider_controls {
	background: url(../img/icon/angle-line.png) no-repeat center center;
}  
.latest_blogs_slider_active {
	background: url(../img/icon/angle-line-blue.png) no-repeat center center;
}  
#latest_blog_slide_switcher1:checked ~ .latest_blogs_slider_controls .latest_blogs_lab2, 
#latest_blog_slide_switcher2:checked ~ .latest_blogs_slider_controls .latest_blogs_lab3, 
#latest_blog_slide_switcher3:checked ~ .latest_blogs_slider_controls .latest_blogs_lab1 {
	background: url(../img/icon/angle-right.png) no-repeat center right;
	position: absolute;
	width: 11px;
	height: inherit;
	display: inline-block;
	right: 0;
}  
#latest_blog_slide_switcher1:checked ~ .latest_blogs_slider_active .latest_blogs_lab2, 
#latest_blog_slide_switcher2:checked ~ .latest_blogs_slider_active .latest_blogs_lab3 {
	background: url(../img/icon/angle-right-blue.png) no-repeat center right;
	position: absolute;
	width: 11px;
	height: inherit;
	display: inline-block;
	right: 0;
}   
#latest_blog_slide_switcher1:checked ~ .latest_blogs_slider_controls .latest_blogs_lab3, 
#latest_blog_slide_switcher2:checked ~ .latest_blogs_slider_controls .latest_blogs_lab1, 
#latest_blog_slide_switcher3:checked ~ .latest_blogs_slider_controls .latest_blogs_lab2 {
	background: url(../img/icon/angle-left.png) no-repeat center left;
	position: absolute;
	width: 11px;
	height: inherit;
	display: inline-block;
	left: 0;
}  
#latest_blog_slide_switcher2:checked ~ .latest_blogs_slider_active .latest_blogs_lab1, 
#latest_blog_slide_switcher3:checked ~ .latest_blogs_slider_active .latest_blogs_lab2 {
	background: url(../img/icon/angle-left-blue.png) no-repeat center left;
	position: absolute;
	width: 11px;
	height: inherit;
	display: inline-block;
	left: 0;
}  

#latest_blog_slide_switcher1:checked ~ .latest_blogs .latest_blog1 {
	-webkit-order: 4;
	-moz-order: 4;
	-ms-order: 4;
	-o-order: 4;
	order: 4;
	margin: 0 15px;
}
#latest_blog_slide_switcher1:checked ~ .latest_blogs .latest_blog2 {
	-webkit-order: 5;
	-moz-order: 5;
	-ms-order: 5;
	-o-order: 5;
	order: 5;
	margin-right: 0;
	margin-left: 15px;
}
#latest_blog_slide_switcher1:checked ~ .latest_blogs .latest_blog3 {
	-webkit-order: 1;
	-moz-order: 1;
	-ms-order: 1;
	-o-order: 1;
	order: 1;
	margin-left: 0;
}
#latest_blog_slide_switcher1:checked ~ .latest_blogs .latest_blog4 {
	-webkit-order: 2;
	-moz-order: 2;
	-ms-order: 2;
	-o-order: 2;
	order: 2;
}
#latest_blog_slide_switcher1:checked ~ .latest_blogs .latest_blog5 {
	-webkit-order: 3;
	-moz-order: 3;
	-ms-order: 3;
	-o-order: 3;
	order: 3;
	margin: 0 15px;
}

#latest_blog_slide_switcher2:checked ~ .latest_blogs .latest_blog1 {
	-webkit-order: 5;
	-moz-order: 5;
	-ms-order: 5;
	-o-order: 5;
	order: 5;
	margin-right: 0;
	margin-left: 15px;
}  
#latest_blog_slide_switcher2:checked ~ .latest_blogs .latest_blog2 {
	-webkit-order: 1;
	-moz-order: 1;
	-ms-order: 1;
	-o-order: 1;
	order: 1;
	margin-left: 0;
}
#latest_blog_slide_switcher2:checked ~ .latest_blogs .latest_blog3 {
	-webkit-order: 2;
	-moz-order: 2;
	-ms-order: 2;
	-o-order: 2;
	order: 2;
}
#latest_blog_slide_switcher2:checked ~ .latest_blogs .latest_blog4 {
	-webkit-order: 3;
	-moz-order: 3;
	-ms-order: 3;
	-o-order: 3;
	order: 3;
}
#latest_blog_slide_switcher2:checked ~ .latest_blogs .latest_blog5 {
	-webkit-order: 4;
	-moz-order: 4;
	-ms-order: 4;
	-o-order: 4;
	order: 4;
	margin: 0 15px;  
}  */

/* tesimonials */ 
/* 
.testimonials_wrap {
	display: block;
	position: relative;
	padding: 120px 0;
}
.testimonials {
	position: relative;
	width: 100%;
	min-height: 245px;
	margin-top: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.testimonial {
	position: relative;
	width: 555px;
	height: 235px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.testimonial_text_wrap {
	position: relative;
	width: 100%;
	height: 145px;
	background: #fcfcfc;
	-webkit-box-shadow: 0 0 3px #eaeaea;
	box-shadow: 0 0 3px #eaeaea;
	padding: 30px 36px 42px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1;
}
.testimonial_text {
	font-family: 'Lato-Italic';
	font-weight: normal;
    font-style: italic;
    line-height: 28px;
}
.testimonial_text_image {
	display: block;
	margin-left: 342px;
	margin-bottom: 26px;
}
.circles_wrap {
	position: relative;
}
.signature {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 60px;
	margin-top: 30px;
	margin-left: 18px;
}
.circle_black {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #343434;
}
.name {
	display: inline-block;
	margin-left: 16px;
	font-family: 'Lato-Bold';
	font-weight: bold;
    font-style: normal;
    line-height: 28px;
}
.specialty {
	display: block;
	font-size: 12px;
	line-height: 28px;
	font-family: 'Lato-Regular';
	font-weight: normal;
    font-style: normal;
}
.circle_gray {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	left: 18px;
	top: -79px;
	background: #fcfcfc;
	-webkit-box-shadow: 0 0 5px #eaeaea;
	box-shadow: 0 0 5px #eaeaea;
}   */

/* call_to_action */
/*
.call_to_action {
	width: 100%;
	min-height: 158px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.call_text {
	font-family: 'Montserrat-Bold';
	font-weight: bold;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
}
.call_text_small {
	display: block;
	font-family: 'Lato-Regular';
	font-weight: normal;
    font-style: normal;
	font-size: 14px;
	line-height: 28px;
	color: #c0c0c0;
	text-transform: none;
}   */

/* our_partners */
/*
.our_partners {
	width: 100%;
	height: auto;
	margin: 120px auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.partner {
	width: 260px;
	height: 145px;
	border: 1px solid #dddddd;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.partner:hover {
	border-bottom: 2px solid #006cb7;
}   */

/* Footer */
/*
.footer_wrap {
	position: relative;
	width: 100%;
}
.footer_informs {
	position: relative;
	width: 100%;
	min-height: 511px;
	padding: 120px 0;
	background:linear-gradient(221.4deg, #fff 45px, #222 0);
	-webkit-background-size: 83%;
	background-size: 83%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.footer_color {
	position: absolute;
	width: 100%;
	height: 60px;
	left: 83%;
	top: 0;
	background: #fff;
	z-index: 10;
}
.footer_inform {
	height: 290px;
}
.footer_about {
	width: 255px;
}
.footer_services {
	width: 140px;
}
.contacts_info {
	width: 200px;
}
.twitter_feeds {
	width: 340px;
}
.footer_logo {
	width: 100%;
	height: 48px;
}  
.footer_logo_icon {
	float: left;
	margin-right: 10px;
}   
.footer_logo_title {
	display: block;
	font-family: 'Montserrat-Bold';
	font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 24px;
    color: #006cb7;
}
.footer_logo_text {
	display: block;
	font-family: 'Lato-Regular';
	font-weight: normal;
    font-style: normal;
    text-transform: none;
    letter-spacing: 3.08px;
    font-size: 14px;
    line-height: 24px;
    color: #555;
}
.footer_about_text {
	margin: 40px 0;
	line-height: 28px;
	color: #555;
}
.footer_social {
	width: 170px;
	height: 66px;
}
.footer_inform_title {
	width: 100%;
	height: 48px;
	margin-bottom: 40px;
}
.footer_inform_title_text {
	font-family: 'Montserrat-Bold';
	font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #b9b8b8;
}
.footer_inform_title_line_white {
	display: inline-block;
	width: 10px;
	height: 1px;
	border: none;
	background: #555;
}
.footer_inform_title_line_blue {
	display: inline-block;
	width: 42px;
	height: 1px;
	border: none;
	background: #006cb7;
}
.footer_social_icons {
	width: 100%;
	height: 30px;
	margin-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.footer_social_icon {
	width: 30px;
	height: 30px;-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #555;
}
.footer_social_icon {
	cursor: pointer;
}
.footer_social_fb {
	background: url(../img/images/fb_footer_01.png) no-repeat center center;
}
.footer_social_twitter {
	background: url(../img/images/tw_footer_01.png) no-repeat center center;
}
.footer_social_linkdin {
	background: url(../img/images/in-footer_01.png) no-repeat center center;
}
.footer_social_pinterest {
	background: url(../img/images/pin_footer_01.png) no-repeat center center;
}
.footer_social_skype {
	background: url(../img/images/skype_footer_01.png) no-repeat center center;
}
.footer_social_fb:hover {
	background: url(../img/images/fb_footer_02.png) no-repeat center center #006cb7;
	border: none;
}
.footer_social_twitter:hover {
	background: url(../img/images/tw_footer_02.png) no-repeat center center #006cb7;
	border: none;
}
.footer_social_linkdin:hover {
	background: url(../img/images/in-footer_02.png) no-repeat center center #006cb7;
	border: none;
}
.footer_social_pinterest:hover {
	background: url(../img/images/pin_footer_02.png) no-repeat center center #006cb7;
	border: none;
}
.footer_social_skype:hover {
	background: url(../img/images/skype_footer_02.png) no-repeat center center #006cb7;
	border: none;
}
.footer_services_scroll {
	width: 100%;
	height: 150px;
}
.footer_service a {
	line-height: 28px;
	text-decoration: none;
	color: #555;
}
.footer_service:hover a {
	color: #b9b8b8;
}
.footer_contact {
	line-height: 20px;
	color: #555;
	padding-left: 35px;
	margin: 20px 0;
}
.footer_contact_address {
	background: url(../img/icon/footer-location-arrow.png) no-repeat 0 50%;
}
.footer_contact_telephones {
	background: url(../img/icon/footer-phone.png) no-repeat 0 50%;
}
.footer_contact_emails {
	background: url(../img/icon/footer-envelope.png) no-repeat 0 50%;
}
.footer_feed {
	padding-left: 30px;
	background: url(../img/icon/footer-twitter.png) no-repeat 0 8px;
}
.footer_feed a, .footer_feed_time {
	text-decoration: none;
	line-height: 28px;
	color: #555;
}
.feed_first_word {
	font-family: 'Lato-Bold';
	font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #006cb7;
}
.footer_feed_time {
	display: block;
}
.footer_feed:hover a {
	color: #b9b8b8;
}
.copy_right_wrap {
	position: relative;
	width: 100%;
	min-height: 60px;
	
}
.copy_right_text_wrap {
	position: relative;
	min-height: 60px;
	background: linear-gradient(225deg, #333 50%, #006cb7 0);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.copy_right_color {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #006cb7;
	top: 0;
	left: -100%;
}
.footer_menu {
	display: inline-block;
	margin: 0 10px;
}
.footer_menu a {
	font-family: 'Lato-Medium';
	font-weight: 500;
    font-style: normal;
    font-size: 13px;
    line-height: 25px;
    text-decoration: none;
    color: #555;
}
.footer_menu:hover a {
	color: #fff;
}
.copy_right_text {
	font-size: 12px;
	line-height: 25px;
	color: #fff;
}   */


@media (max-width: 1170px) {
	.conteiner {
		width: 992px;
	}  /*
	.slide_area_content2 {
		margin-left: 270px;
	}  
	.services {
		width: 255%;
		justify-content: space-around;
	}
	#slide_service_switcher1:checked ~ .slider_service_controls .slide_servici_lab2, 
	#slide_service_switcher2:checked ~ .slider_service_controls .slide_servici_lab3, 
	#slide_service_switcher3:checked ~ .slider_service_controls .slide_servici_lab4, 
	#slide_service_switcher4:checked ~ .slider_service_controls .slide_servici_lab1 {
		background: url(../img/icon/angle-right.png) no-repeat center right;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		right: 0;
	}  
	#slide_service_switcher1:checked ~ .slider_service_active .slide_servici_lab2, 
	#slide_service_switcher2:checked ~ .slider_service_active .slide_servici_lab3, 
	#slide_service_switcher3:checked ~ .slider_service_active .slide_servici_lab4 {
		background: url(../img/icon/angle-right-blue.png) no-repeat center right;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		right: 0;
	}   
	#slide_service_switcher1:checked ~ .slider_service_controls .slide_servici_lab4, 
	#slide_service_switcher2:checked ~ .slider_service_controls .slide_servici_lab1, 
	#slide_service_switcher3:checked ~ .slider_service_controls .slide_servici_lab2, 
	#slide_service_switcher4:checked ~ .slider_service_controls .slide_servici_lab3 {
		background: url(../img/icon/angle-left.png) no-repeat center right;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		left: 0;
	}  
	#slide_service_switcher2:checked ~ .slider_service_active .slide_servici_lab1, 
	#slide_service_switcher3:checked ~ .slider_service_active .slide_servici_lab2, 
	#slide_service_switcher4:checked ~ .slider_service_active .slide_servici_lab3 {
		background: url(../img/icon/angle-left-blue.png) no-repeat center right;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		left: 0;
	}
	#slide_service_switcher2:checked ~ .services {
		margin-left: -496.5px;
	}
	#slide_service_switcher3:checked ~ .services {
		margin-left: -993px;
	}
	#slide_service_switcher4:checked ~ .services {
		margin-left: -1490px;
	}  
	.insert_choose {
		right: 864px;
	}
	.choose_content {
		padding: 70px 0;
	}
	.text_choose {
		width: 55%;
	}  
	.latest_blogs {
		width: 255%;
		justify-content: space-around;
	}
	#latest_blog_slide_switcher1:checked ~ .latest_blogs_slider_controls .latest_blogs_lab2, 
	#latest_blog_slide_switcher2:checked ~ .latest_blogs_slider_controls .latest_blogs_lab3, 
	#latest_blog_slide_switcher3:checked ~ .latest_blogs_slider_controls .latest_blogs_lab4, 
	#latest_blog_slide_switcher4:checked ~ .latest_blogs_slider_controls .latest_blogs_lab1 {
		background: url(../img/icon/angle-right.png) no-repeat center right;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		right: 0;
	}  
	#latest_blog_slide_switcher1:checked ~ .latest_blogs_slider_active .latest_blogs_lab2, 
	#latest_blog_slide_switcher2:checked ~ .latest_blogs_slider_active .latest_blogs_lab3, 
	#latest_blog_slide_switcher3:checked ~ .latest_blogs_slider_active .latest_blogs_lab4 {
		background: url(../img/icon/angle-right-blue.png) no-repeat center right;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		right: 0;
	}   
	#latest_blog_slide_switcher1:checked ~ .latest_blogs_slider_controls .latest_blogs_lab4, 
	#latest_blog_slide_switcher2:checked ~ .latest_blogs_slider_controls .latest_blogs_lab1, 
	#latest_blog_slide_switcher3:checked ~ .latest_blogs_slider_controls .latest_blogs_lab2, 
	#latest_blog_slide_switcher4:checked ~ .latest_blogs_slider_controls .latest_blogs_lab3 {
		background: url(../img/icon/angle-left.png) no-repeat center left;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		left: 0;
	}  
	#latest_blog_slide_switcher2:checked ~ .latest_blogs_slider_active .latest_blogs_lab1, 
	#latest_blog_slide_switcher3:checked ~ .latest_blogs_slider_active .latest_blogs_lab2, 
	#latest_blog_slide_switcher4:checked ~ .latest_blogs_slider_active .latest_blogs_lab3 {
		background: url(../img/icon/angle-left-blue.png) no-repeat center left;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		left: 0;
	}
	#latest_blog_slide_switcher1:checked ~ .latest_blogs .latest_blog1 {
		-webkit-order: 3;
		-moz-order: 3;
		-ms-order: 3;
		-o-order: 3;
		order: 3;
		margin: 0 15px;
	}
	#latest_blog_slide_switcher1:checked ~ .latest_blogs .latest_blog2 {
		-webkit-order: 4;
		-moz-order: 4;
		-ms-order: 4;
		-o-order: 4;
		order: 4;
		margin: 0 15px;
	}
	#latest_blog_slide_switcher1:checked ~ .latest_blogs .latest_blog3 {
		-webkit-order: 5;
		-moz-order: 5;
		-ms-order: 5;
		-o-order: 5;
		order: 5;
		margin-right: 0;
	}
	#latest_blog_slide_switcher1:checked ~ .latest_blogs .latest_blog4 {
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		-o-order: 1;
		order: 1;
		margin-left: 0;
	}
	#latest_blog_slide_switcher1:checked ~ .latest_blogs .latest_blog5 {
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
		margin: 0 15px;
	}

	#latest_blog_slide_switcher2:checked ~ .latest_blogs .latest_blog1 {
		-webkit-order: 4;
		-moz-order: 4;
		-ms-order: 4;
		-o-order: 4;
		order: 4;
		margin: 0 15px;
	}
	#latest_blog_slide_switcher2:checked ~ .latest_blogs .latest_blog2 {
		-webkit-order: 5;
		-moz-order: 5;
		-ms-order: 5;
		-o-order: 5;
		order: 5;
		margin-right: 0;
		margin-left: 15px;
	}
	#latest_blog_slide_switcher2:checked ~ .latest_blogs .latest_blog3 {
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		-o-order: 1;
		order: 1;
		margin-left: 0;
	}
	#latest_blog_slide_switcher2:checked ~ .latest_blogs .latest_blog4 {
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
	}
	#latest_blog_slide_switcher2:checked ~ .latest_blogs .latest_blog5 {
		-webkit-order: 3;
		-moz-order: 3;
		-ms-order: 3;
		-o-order: 3;
		order: 3;
		margin: 0 15px;
	}

	#latest_blog_slide_switcher3:checked ~ .latest_blogs .latest_blog1 {
		-webkit-order: 5;
		-moz-order: 5;
		-ms-order: 5;
		-o-order: 5;
		order: 5;
		margin-right: 0;
		margin-left: 15px;
	}  
	#latest_blog_slide_switcher3:checked ~ .latest_blogs .latest_blog2 {
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		-o-order: 1;
		order: 1;
		margin-left: 0;
	}
	#latest_blog_slide_switcher3:checked ~ .latest_blogs .latest_blog3 {
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
	}
	#latest_blog_slide_switcher3:checked ~ .latest_blogs .latest_blog4 {
		-webkit-order: 3;
		-moz-order: 3;
		-ms-order: 3;
		-o-order: 3;
		order: 3;
	}
	#latest_blog_slide_switcher3:checked ~ .latest_blogs .latest_blog5 {
		-webkit-order: 4;
		-moz-order: 4;
		-ms-order: 4;
		-o-order: 4;
		order: 4;
		margin: 0 15px;  
	}   
	.testimonials  {
		justify-content: center;
	}
	.testimonial {
		height: auto;
		margin-top: 40px;
	}
	.our_partners {
		justify-content: center;
	}
	.partner {
		margin: 15px;
	}   */
}

@media (max-width: 992px) {
	.conteiner {
		width: 768px;
	}  /*
	
	.header_menuToggle {
		display: block;
	}
	.header_menu_big {
		display: none;
		flex-direction: column;
		position: absolute;
		background-color: #eeeeee;
		border: 1px solid #000;
		border-radius: 5px;
		margin-top: 5px;
		margin-left: -45px;
	}
	.header_submenu {
		margin-left: 75px;
	}
	.header_menuToggle:hover {
		cursor: pointer;
	}
	#header_menuCheck:checked + .header_menu_big {
		display: block;
		z-index: 10;
	}  
	.slide_area_content2 {
		margin-left: 150px;
	}
	.title_slide_area {
	font-size: 25px;
	line-height: 50px;
	text-transform: uppercase;
	}
	.text_slide_area {
	font-size: 50px;
	line-height: 50px;
	text-transform: uppercase;
	}   
	.services {
		width: 250%;
	}
	.service {
		min-width: 360px;
		margin: 0 5px;
	}
	#slide_service_switcher1:checked ~ .slider_service_controls .slide_servici_lab2, 
	#slide_service_switcher2:checked ~ .slider_service_controls .slide_servici_lab3, 
	#slide_service_switcher3:checked ~ .slider_service_controls .slide_servici_lab4, 
	#slide_service_switcher4:checked ~ .slider_service_controls .slide_servici_lab1 {
		background: url(../img/icon/angle-right.png) no-repeat center right;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		right: 0;
	}  
	#slide_service_switcher1:checked ~ .slider_service_active .slide_servici_lab2, 
	#slide_service_switcher2:checked ~ .slider_service_active .slide_servici_lab3, 
	#slide_service_switcher3:checked ~ .slider_service_active .slide_servici_lab4 {
		background: url(../img/icon/angle-right-blue.png) no-repeat center right;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		right: 0;
	}   
	#slide_service_switcher1:checked ~ .slider_service_controls .slide_servici_lab4, 
	#slide_service_switcher2:checked ~ .slider_service_controls .slide_servici_lab1, 
	#slide_service_switcher3:checked ~ .slider_service_controls .slide_servici_lab2, 
	#slide_service_switcher4:checked ~ .slider_service_controls .slide_servici_lab3 {
		background: url(../img/icon/angle-left.png) no-repeat center right;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		left: 0;
	}  
	#slide_service_switcher2:checked ~ .slider_service_active .slide_servici_lab1, 
	#slide_service_switcher3:checked ~ .slider_service_active .slide_servici_lab2, 
	#slide_service_switcher4:checked ~ .slider_service_active .slide_servici_lab3 {
		background: url(../img/icon/angle-left-blue.png) no-repeat center right;
		position: absolute;
		width: 11px;
		height: inherit;
		display: inline-block;
		left: 0;
	}
	#slide_service_switcher1:checked ~ .services {
	margin-left: 0;
	}
	#slide_service_switcher2:checked ~ .services {
		margin-left: -370px;
	}
	#slide_service_switcher3:checked ~ .services {
		margin-left: -740px;
	}
	#slide_service_switcher4:checked ~ .services {
		margin-left: -1110px;
	}  
	.image_block {
		position: relative;
		max-width: 100%;
		left: 0;
		top: 0;
		transform: none;
	}  
	.insert_choose {
		height: 770px;
		right: 0;
		top: 700px;
	}
	.text_choose {
		width: 80%;
	}   
	.call_to_action {
		justify-content: center;
	}
	.call_text {
		text-align: center;
	}   
	.footer_informs {
		justify-content: space-around;
	}
	.footer_inform {
		margin: 25px;
	}
	.copy_right_text, .footer_menu_wrap {
		width: 300px;
		text-align: center;
	}   */
	
}   /*

@media (max-width: 992px) and (min-width: 768px) {
	.contacts_info {
		order: 4;
	}
}   */

@media (max-width: 768px) {
	.conteiner {
		width: 576px;
	}  /*
	.header_middle {
		justify-content: center;
	}  
	.slide_area_content2 {
		margin-left: 75px;
	}
	.title_slide_area {
	font-size: 19px;
	line-height: 40px;
	text-transform: uppercase;
	}
	.text_slide_area {
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	}  
	.slider_service {
		height: 430px;
	}
	.services {
		width: 100%;
		height: 500%;
		justify-content: center;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.service {
		height: 430px;
		margin: 15px auto;
		min-height: 370px;
	}
	.description_service {
		height: 218px;
	}
	.service:hover {
		height: 430px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.service:hover .description_service {
		margin-top: 0;
		border: 1px solid #eee;
	}
	.slider_service_controls, .slider_service_active {
		display: none;
	}
	.description_service_link_text, 
	.description_service_title {
		color: #006cb7;
	}  
	.about {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.who_we, .faq {
		width: 100%;
	}
	.who_we {
		margin-bottom: 40px;
	}   
	.latest_blogs_slider {
		width: 100%;
		height: 480px;
		margin-top: 40px;
		overflow: scroll;
	}
	.latest_blogs {
		width: 100%;
		height: 500%;
		margin-top: 0;
		justify-content: center;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.latest_blog {
		height: 460px;
		margin: 15px 0;
		order: 0;
	}
	.latest_blog_content {
		height: 240px;
		margin-top: 0;
	}
	.latest_blog:hover .latest_blog_content {
		height: 250px;
		margin-top: 0;
		background: inherit;
	}
	.latest_blog_content_title {
		color: #006cb7;
	}
	.latest_blogs_slider_controls, .latest_blogs_slider_active {
		display: none;
	}   
	.call_to_action {
		padding: 15px 0;
	}
	.btn_call {
		margin: 15px auto;
	}   
	.contacts_info, .twitter_feeds {
		text-align: center;
	}   */
}

@media (max-width: 576px) {
	.conteiner {
		max-width: 100%;
	}  /*
	.header_top {
		justify-content: space-around;
	}
	.header_info, .header_time, .header_social {
		margin: 0 30px;
	}
	.middle_contact_info {
		justify-content: space-around;
	}
	.header_search_wrap {
		width: 170px;
	}
	#hed_search {
		width: 125px;
	}  
	.image_slide_area {
		max-width: 100%;
	}
	.title_slide_area {
	font-size: 15px;
	line-height: 30px;
	text-transform: uppercase;
	}
	.text_slide_area {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	}  
	.latest_blogs_slider {
		height: 545px;
	}
	.latest_blogs {
		height: 516%;
	}
	.latest_blog {
		width: 100%;
		max-width: 360px;
		height: auto;
	}
	.latest_blog_content, .latest_blog:hover .latest_blog_content {
		height: auto;
	}   
	.testimonial {
		width: 100%;
	}
	.testimonial_text_wrap {
		height: auto;
		padding: 30px 36px 0 30px;
	}
	.testimonial_text_image {
		margin-left: 80%;
	}   
	.copy_right_text_wrap {
		justify-content: center;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}   */
}