

.page_wrap {
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;
	font-family: 'Lato-Regular';
	font-weight: normal;
    font-style: normal;
	font-size: 14px;
}
.conteiner {
	width: 1170px;
	box-sizing: border-box;
	padding: 0 15px;
	margin: 0 auto;
}




@media (max-width: 1170px) {
	.conteiner {
		width: 992px;
	}  
}

@media (max-width: 992px) {
	.conteiner {
		width: 768px;
	}
}  
	
@media (max-width: 768px) {
	.conteiner {
		width: 576px;
	}
}

@media (max-width: 576px) {
	.conteiner {
		max-width: 100%;
	}  
}