.choose {
	width: 100%;
	min-height: 770px;
	position: relative;
}
.insert_choose {
	position: absolute;
	width: 100%;
	height: 770px;
	right: 1155px;
}
.conteiner_choose {
	position: relative;
}
.choose_content_block {
	display: inline-block;
}
.choose_us {
	display: block;
	width: 715px;
	height: 770px;
}
.choose_content {
	display: block;
	box-sizing: border-box;
	padding: 120px 0;
}
.text_choose {
	display: block;
	width: 555px;
	margin: 35px 0;
	line-height: 28px;
	color: #f1f1f1;
}
.choose_feature2 {
	margin: 35px 0;
}
.icon_choose {
	display: block;
	position: relative;
	width: 60px;
	height: 60px;
	border: 1px solid #006cb7;
	float: left;
	margin-top: 5px;
}
.choose_icon_image {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 50%;
	top: 50%;
	margin-top: -13px;
	margin-left: -13px;
}
.title_feature {
	margin-left: 81px;
	font-family: 'Montserrat-Bold';
	font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #dedede;
    text-transform: uppercase;
}
.line_feature {
	width: 30px;
	height: 1px;
	background: #006cb7;
	border: none;
	display: inline-block;
}
.text_feature {
	display: block;
	margin-left: 81px;
	line-height: 28px;
	color: #b1b0b0;
}
.image_block {
	position: absolute;
	width: 785px;
	height: 700px;
	left: 49%;
	top: 50%;
	transform: translateY(-50%);
}

@media (max-width: 1170px) {
	.insert_choose {
		right: 864px;
	}
	.choose_content {
		padding: 70px 0;
	}
	.text_choose {
		width: 55%;
	}
}
@media (max-width: 992px) {
	.image_block {
		position: relative;
		max-width: 100%;
		left: 0;
		top: 0;
		transform: none;
	}  
	.insert_choose {
		height: 770px;
		right: 0;
		top: 700px;
	}
	.text_choose {
		width: 80%;
	}
}

/* Размеры текста для <576*/